Flask_Dance==5.1.0
Werkzeug==2.0.2
Flask==2.0.2
requests==2.26.0
PyYAML==6.0.0
packaging==21.2
xmltodict==0.12.0
radl==1.2.0
cryptography==3.4.8
apscheduler==3.8.0 # 3.8.1 version fails
Flask-APScheduler==1.12.2
Flask-WTF==1.0.0
boto3==1.20.2
hvac==0.11.2