/*!
 * EGI Custome theme
 */

 .text-primary {
    color: #005FAA!important;
}

.text-secondary{
    color:#999999
}

.btn-warning {
    color: #212529;
    background-color: #FFC000;
    border-color: #FFC000;
}

.btn-primary {
    color: #fff!important;
    background-color: #EF8200;
    border-color: #EF8200;
 }

 .btn-primary:hover{
    color:#EF8200!important;
    background-color:#fff;
    border-color:#EF8200;
}

.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{
    color:#fff!important;
    background-color:#EF8200;
    border-color:#EF8200
}
.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(239,130,0,.5)
}


.btn-secondary {
    color: #fff;
    background-color: #999999;
    border-color: #999999;
}

.btn-outline-secondary {
    color: #999999;
    border-color: #999999;
}


.btn-outline-secondary:hover{
    color:#fff;
    background-color:#999999;
    border-color:#999999
}

.bg-dark {
    background-color:#1e315c!important;
}

.btn-success {
    color: #fff;
    background-color: #63C247;
    border-color: #63C247;
}


 .btn-danger {
    color: #fff;
    background-color: #FF000E;
    border-color: #FF000E;
}

.btn-info {
    color: #fff;
    background-color: #669FCC;
    border-color: #669FCC;
}

.card-img-overlay {
    background-color:#005FAA!important;
}

.badge-primary {
    background-color:#EF8200!important;
}

a {
    color: #005FAA;
}


element.style {
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
a {
    color: #005FAA;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"DM Sans",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}