{% extends "base.html" %}
{% block title %}Add Resouces{% endblock %}
{% block content %}

<div class="container">

    <br>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <div class="row">
            <div class="col-md-9">
              <!-- Title -->
              <h4 class="font-weight-bold text-primary">Add nodes to Inf: {{infid}}</h4>
            </div>
            <div class="col-md-3 text-right">
              <!-- Button -->
              <button type=button class="btn btn-small btn-outline-secondary" onclick="history.back()"><span class="fas fa-arrow-left mr-2"></span> Back</button>
            </div>
          </div> <!-- / .row -->
        </div>

        <div class="card-body">

    <div class="table-responsive">
        <form id="addNodes" action="{{ url_for('addresources', infid=infid) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <table id="tableSystems" class="table table-bordered table-striped" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <!-- <th>id</th>-->
                    <th>Node type</th>
                    <th>Num. of nodes</th>
                </tr>
            </thead>
            <tbody>
                {% for system in systems %}
                <tr>
                    <td>{{ system.name }}</td>
                    <td>
                        <input type="number" class="form-control" id="{{system.name}}_num" name="{{system.name}}_num" value="0" aria-describedby="Numner of nodes to add"/>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Select New Image:</td>
                    <td>
                        <div class="form-group">
 
                            {% if images %}
                                <div class="form-group" id="siteImages">
                                    <select class="js-example-basic-single js-states form-control" id="selectedSiteImage" name="newImage" onchange="activateSubmit()">
                                        <option name="selectedSiteImage" value="">Do not change the image.</option>
                                        {% for image_uri, image_name, selected in images %}
                                        <option name="selectedSiteImage" value="{{image_uri}}" {{"selected" if selected else ""}}>{{image_name}}</option>
                                        {% endfor %}
                                    </select>
                                 </div>
                            {% else %}
                                {% set placeholder = "Image ID" %}
                                {% if image_url.scheme == 'aws' %}
                                {% set placeholder = "Region / Image ID (e.g.: us-east-1/ami-f9f8ba9c)" %}
                                {% elif image_url.scheme == 'azr' %}
                                {% set placeholder = "Publisher / Offer / SKU / Version" %}
                                {% endif %}
                            <div class="form-group" id="cloudImages">
                             <input placeholder="{{placeholder}}" type="text" class="form-control" id="imageID" name="imageID" value="{{image_url[0]}}://{{image_url[1]}}{{image_url[2]}}">
                            </div>
                            {% endif %}
                 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success submitBtn">Add</button>
        </form>
    </div>
    </div>
    </div>
</div>
<script>
$(document).ready(function () {
    $("#addNodes").submit(function () {
        //disable button on click
        $(".submitBtn").attr("disabled", true);
        // add spinner to button
        $(".submitBtn").html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...` );
        return true;
    });
});
</script>

{% endblock %}