
<br>
<div id="confScheduling">
  <div class="form-group">
      <h5>Cloud Provider:</h5>
  </div>

  
  <script src="{{ url_for('static', filename='chart/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='chart/utils.js') }}"></script>

  <script>

   var config = {};
   config["gen"] = {
       type: 'pie',
       data: {
           labels: ['Unknown'],
           datasets: [{
               data: [100],
               backgroundColor: [
                   window.chartColors.grey
               ]
           }]
       },
       options: {
           elements: {
               arc: {
                 borderWidth: 0
               }
           },
           legend: {
               display: false
           },
           responsive: false,
           title: {
               display: true,
               text: 'VCPUs',
               padding: 0
           }
       }
   };

   var resource_types = ["cores", "ram", "instances", "floating_ips", "security_groups"];

   for (var i = 0; i < resource_types.length; i++) {
       config[resource_types[i]] = JSON.parse(JSON.stringify(config["gen"]));;    
   }

   config["ram"].options.title.text = "RAM (GB)"
   config["instances"].options.title.text = "Instances"
   config["floating_ips"].options.title.text = "Float IPs"
   config["security_groups"].options.title.text = "SGs"

   window.onload = function() {
       window.myPies = {};
       for (var i = 0; i < resource_types.length; i++) {
           var ctx = document.getElementById('chart-area-' + resource_types[i]).getContext('2d');
           window.myPies[resource_types[i]] = new Chart(ctx, config[resource_types[i]]);
       }
   };

   function resetPies() {
       for (var i = 0; i < resource_types.length; i++) {
           config[resource_types[i]].data = {
               labels: ['Unknown'],
               datasets: [{
                   data: [100],
                   backgroundColor: [
                       window.chartColors.grey
                   ]
               }]
           };
           window.myPies[resource_types[i]].update();
       }
   }

   function changedCred() {
        var select = document.getElementById('selectedCred');
        var cred_type = select.options[select.selectedIndex].getAttribute("data-type");
        if (cred_type == 'fedcloud') {
            $('#cloudImages').hide();
            $('#fedcloudImages').show();
            $('#siteImages').show();
            $('#fedcloudUsage').show();
            loadImages();
            loadSiteImages();
            loadSiteInfo();
        } else if (cred_type == 'OpenStack') {
            $('#cloudImages').hide();
            $('#fedcloudImages').hide();
            $('#siteImages').show();
            var tenant_id = select.options[select.selectedIndex].getAttribute("data-tenant-id");
            if (tenant_id == "") {
                $('#fedcloudUsage').hide();
            } else {
                $('#fedcloudUsage').show();
                loadSiteInfo();
            }
            loadSiteImages();
        } else if (cred_type == 'OpenNebula' || cred_type == 'Orange' || cred_type == 'Linode' || cred_type == 'GCE') {
            $('#cloudImages').hide();
            $('#fedcloudImages').hide();
            $('#siteImages').show();
            $('#fedcloudUsage').hide();
            loadSiteImages();
        } else {
            if (cred_type == 'EC2') {
                document.getElementById('imageID').setAttribute("placeholder", "Region / Image ID");
            } else if (cred_type == 'Azure') {
                document.getElementById('imageID').setAttribute("placeholder", "Publisher / Offer / SKU / Version");
            } else {
                document.getElementById('imageID').setAttribute("placeholder", "Image ID");
            }
            $('#cloudImages').show();
            $('#fedcloudImages').hide();
            $('#siteImages').hide();
            $('#fedcloudUsage').hide();
        }
   }

   function loadImages() {
        $('#selectedImage').empty();
        $('#selectedImage').append("<option value=''>Loading Images ...</option>");
        $.ajax({
            method: "GET",
            url: "{{ url_for('home') }}images/" + $("#selectedCred").val(),
            success : function(text)
            {
                $('#selectedImage').empty();
                $('#selectedImage').append("<option value=''> - Select one image - </option>");
                $('#selectedImage').append(text);
            }
        });
   }

   function loadSiteImages() {
        $('#selectedSiteImage').empty();
        $('#selectedSiteImage').append("<option value=''>Loading Images ...</option>");
        $.ajax({
            method: "GET",
            url: "{{ url_for('home') }}images/" + $("#selectedCred").val() + "?local=1",
            success : function(text)
            {
                $('#selectedSiteImage').empty();
                $('#selectedSiteImage').append("<option value=''> - Select one image - </option>");
                $('#selectedSiteImage').append(text);
            }
        });
   }

   function loadSiteInfo() {
        $('#divLoadingUsage').show();
        $.ajax({
            method: "GET",
            url: "{{ url_for('home') }}usage/" + $("#selectedCred").val(),
            success : function(text)
            {
                data = JSON.parse(text);

                for (var i = 0; i < resource_types.length; i++) {
                    if (data[resource_types[i]]["limit"] == -1) {
                        // -1 value means no limit, set a big value
                        data[resource_types[i]]["limit"] = 10000;
                    }
                    config[resource_types[i]].data = {
                        labels: [
                        'Used',
                        'Free'
                        ],
                        datasets: [{
                            data: [Math.round(data[resource_types[i]]["used"]),
                                    Math.round(data[resource_types[i]]["limit"] - data[resource_types[i]]["used"])],
                            backgroundColor: [
                                window.chartColors.green,
                                window.chartColors.grey
                            ]
                        }]
                    };
                    var usage = data[resource_types[i]]["used"] / data[resource_types[i]]["limit"];
                    if (usage >= 0.7 && usage < 0.9) {
                        config[resource_types[i]].data.datasets[0].backgroundColor[0] = window.chartColors.orange;
                    } else if (usage >= 0.9) {
                        config[resource_types[i]].data.datasets[0].backgroundColor[0] = window.chartColors.red;
                    }
                    window.myPies[resource_types[i]].update();
                }
                $('#divLoadingUsage').hide();
            },
            error : function(error)
            {
                $('#divLoadingUsage').hide();
                resetPies();
                alert(error.responseText);
            }
        });
   }

   function activateSubmit() {
       $(".submitBtn").attr("disabled", false);
   }
   </script>


  <div id="manschedConf" class="form-group">
      <p></p>

      <div class="form-row">
       <div class="form-group col-md-6">

           <div class="form-group">
               <label>Select Cloud Provider:</label>
               {% if not creds %}
               <label>No Cloud Provider defined. Add it in the Cloud Credentials page: <a class="btn btn-success text-white" href="{{ url_for('manage_creds') }}">Add</a></label>
               {% else %}
                <select class="js-example-basic-single js-states form-control" id="selectedCred" name="extra_opts.selectedCred" onchange="changedCred();">
                    <option name="selectedCred" value=""> - Select Cloud site - </option>
                    {% for cred in creds %}
                    <option data-tenant-id="{{cred['tenant_id'] if 'tenant_id' in cred else '' }}" data-type="{{ cred['type'] }}" name="selectedCred" value={{ cred['id'] }}>{{ cred['id'] }}</option>
                    {% endfor %}
                </select>
               {% endif %}
           </div>

           <div class="form-group" id="cloudImages" style="display: none;">
            <label>Set image ID:</label>
            <input placeholder="Image ID" type="text" class="form-control" id="imageID" name="extra_opts.imageID" value="" oninput="activateSubmit()">
            <br/>
           </div>

           <div class="form-group" id="fedcloudImages" style="display: none;">
              <label>Select only one of this options AppDB or Site image:</label>
              <br/>
              <label>Select AppDB image:</label>
              <select class="js-example-basic-single js-states form-control" id="selectedImage" name="extra_opts.selectedImage" onchange="activateSubmit()">
                  <option name="selectedImage" value="">Select provider</option>
              </select>
            </div>

            <div class="form-group" id="siteImages" style="display: none;">
              <br/>
              <label>Select Site image:</label>
              <select class="js-example-basic-single js-states form-control" id="selectedSiteImage" name="extra_opts.selectedSiteImage" onchange="activateSubmit()">
                  <option name="selectedSiteImage" value="">Select provider</option>
              </select>
           </div>

       </div>
       <div class="form-group col-md-6">

           <div class="form-group" id="fedcloudUsage" style="display: none;">
               <label>Site Resource Usage:</label>
               <div id="divLoadingUsage" style="display: none; position: absolute; margin-left: 40px; margin-top: 30px; padding:10px; background-color:white; z-index: 3;">
                   Loading Site Resource Usage Data <span class='spinner-grow spinner-grow-sm'></span>
               </div>
               <div class="form-row">
                   <div class="form-group col-md-1">
                   </div>
                   <div class="form-group col-md-2">
                       <canvas id="chart-area-cores" width="100px" height="100px"></canvas>
                   </div>
                   <div class="form-group col-md-2">
                       <canvas id="chart-area-ram" width="100px" height="100px"></canvas>
                   </div>
                   <div class="form-group col-md-2">
                       <canvas id="chart-area-instances" width="100px" height="100px"></canvas>
                   </div>
                   <div class="form-group col-md-2">
                       <canvas id="chart-area-floating_ips" width="100px" height="100px"></canvas>
                   </div>
                   <div class="form-group col-md-2">
                       <canvas id="chart-area-security_groups" width="100px" height="100px"></canvas>
                   </div>
               </div>
           </div>

       </div>
      </div>



  </div>
  <br>

</div>
