<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add favicon -->
  <link rel="apple-touch-icon" sizes="180x180"
    href="{{ url_for('static', filename='images/favicon_io/apple-touch-icon.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon_io/favicon-32x32.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon_io/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='images/favicon_io/site.webmanifest') }}">
  <!-- BS5-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- FontAwesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css"
    integrity="sha384-iw3OoTErCYJJB9mCa8LNS2hbsQ7M3C0EpIsO/H5+EGAkPGc6rk+V8i04oW/K5xq0" crossorigin="anonymous">
  <!-- Cookie Consent -->
  <script src="{{ url_for('static', filename='js/cookieconsent-4.0.1.min.js') }}"></script>
{% if home is not defined %}
  <!-- General Bootstrap JS -->
  <script src="{{ url_for('static', filename='js/jquery-3.6.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}" />
  <!--
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.bootstrap5.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scroller.bootstrap5.min.css') }}" />
  -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
  <!--
  <script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/responsive.bootstrap5.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.scroller.min.js') }}"></script>
  -->
  <!-- Select2 -->
  <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/select2-bootstrap-5-theme.min.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
  <!-- Toggle -->
  <link href="{{ url_for('static', filename='css/bootstrap5-toggle.min.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/bootstrap5-toggle.jquery.min.js') }}"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="{{ url_for('static', filename='js/bootstrap-show-password.min.js') }}"></script>
{% endif %}
  <style>
  .cookieconsent-com---palette-dark .cc-nb-okagree {
    background-color: #ffc107;
    color: white;
  }
  .cookieconsent-com---palette-dark .cc-nb-reject {
    background-color: #ffc107;
    color: white;
  }
  .cookieconsent-com---palette-dark .cc-nb-changep {
    background-color: #0062cc;
    color: white;
  }
  .cookieconsent-com---palette-dark .cc-cp-foot-save {
    background-color: #ffc107;
    color: white;
  }
  </style>

  <script type="text/javascript" charset="UTF-8">
    document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"interstitial",
                       "website_name": "IM Dashboard",
                       "palette":"dark",
                       "language":"en",
                       "page_load_consent_levels":["strictly-necessary"],
                       {% if g.analytics_tag %}
                       "consent_type":"express",
                       "page_show_consent_levels":["strictly-necessary", "tracking"],
                       {% else %}
                       "consent_type":"implied",
                       "page_show_consent_levels":["strictly-necessary"],
                       {% endif %}
                       "notice_banner_reject_button_hide":false,
                       "preferences_center_close_button_hide":false});
    });
    </script>
    
    {% if g.analytics_tag %}
    <!-- Google Analytics -->
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id={{ g.analytics_tag }}"></script>
      <script type="text/plain" cookie-consent="tracking">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ g.analytics_tag }}');
      </script>
    <!-- end of Google Analytics-->
    {% endif %}

    {% if g.motomo_info and "url" in g.motomo_info and g.motomo_info["url"] %}
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['requireCookieConsent']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{ g.motomo_info['url'] }}";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '{{ g.motomo_info["siteid"] }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='//cdn.matomo.cloud/egi.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
    {% endif %}
    
    <noscript>ePrivacy and GPDR Cookie Consent by <a href="https://www.CookieConsent.com/" rel="nofollow noopener">Cookie Consent</a></noscript>


</head>

<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for("home") }}"><img src="{{ url_for('static', filename='images/im-logo-only.png') }}" width="40"> IM Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mr-auto">
          {% if session['username'] %}
          <li class="nav-item active"><a class="nav-link"
              href="{{ url_for("showinfrastructures") }}">Infrastructures</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Advanced</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for("show_settings") }}">Settings</a>
            </div>
          </li>
          {% if session["external_links"]|length > 0 %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">External Links</a>
            <div class="dropdown-menu">
              {% for link in session["external_links"] %}
              <a class="dropdown-item" href="{{ link.url }}" target="blank">{{link.menu_item_name}}</a>
              {% endfor %}
            </div>
          </li>
          {% endif %}
          {% endif %}
        </ul>
        {% if session['username'] %}
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
              <img class="rounded-circle" src="{{ session['gravatar'] }}" </src>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ session['username'] }}<span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item text-end" href="{{ url_for("manage_creds") }}">Cloud Credentials</a>
              <a class="dropdown-item text-end" href="{{ url_for("get_ssh_keys") }}">SSH Key</a>
              <a class="dropdown-item text-end" href="{{ url_for("logout") }}">Logout</a>
            </div>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  {% block content %}{% endblock %}
  {% include 'footer.html' %}
</body>

</html>

<style>
.dropdown-item:hover {
    background-color: #dee2e6;
}

  body {
    margin-bottom: 70px
  }
</style>