<!-- start tabs creation section -->
<ul class="nav nav-tabs">
{% set tabs=template['tabs'] %}
{% set inputs=template['inputs'] %}
{% if tabs|length > 0 %}
  {% for tab in tabs %}
    {% set tab_id = tab.replace(" ", "_") %}
    {% if loop.first %}
      <li class="nav-item"><a class="nav-link {% if creds %}active{%endif%}" data-id="#{{tab_id}}" data-bs-toggle="tab" href=#{{tab_id}}>{{tab}}</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" data-id="#{{tab_id}}" data-bs-toggle="tab" href=#{{tab_id}}>{{tab}}</a></li>
    {% endif %}
  {% endfor %}
{% else %}
  <li class="nav-item"><a class="nav-link" data-id="#InputValues" data-bs-toggle="tab" href=#InputValues>Input Values</a></li>
{% endif %}
<li class="nav-item"><a class="nav-link {% if not creds %} active{%endif%}" data-id="#Advanced" data-bs-toggle="tab" href=#Advanced>Cloud Provider Selection</a></li> <!-- always create advanced tab -->
</ul>
  <!-- end tab creation section -->

<div class="tab-content">
  <!-- inputs -->
  {% if tabs|length > 0 %}
    {% for tab in tabs %}
      {% set tab_id = tab.replace(" ", "_") %}
      {% if loop.first %}
        <div id="{{tab_id}}" class="tab-pane fade {% if creds %}show active{%endif%}">
      {% else %}
        <div id="{{tab_id}}" class="tab-pane fade">
      {% endif %}

      <br>
      {% for key, value in inputs.items() %}
        {% if value.tab == tab %}
          {% include 'input_types.html' %}
        {% endif %}
      {% endfor %}
      </div>
    {% endfor %}

  {% else %} <!-- no tabs -->
    <div id="InputValues" class="tab-pane fade show active">
      {% for key, value in inputs.items() %}
        {% include 'input_types.html' %}
      {% endfor %}
    </div>
  {% endif %}
  <!-- end inputs -->

  <!-- scheduling -->
  <br>
  <div id="Advanced" class="tab-pane fade {% if not creds %}show active{%endif%}">
    {% include 'advanced_config.html' %}
  </div>
</div>

<script>
  // Functio to validate fields of each tab before changing to other tab
 $('.nav-tabs a').on('hide.bs.tab', function(e){
  var link = e.delegateTarget;
  var tab_id = link.getAttribute('data-id')
  var inputs = $(tab_id).find(':input');
  var valid = true;
  for (var i = 0; i < inputs.length; i++) {
    if (!inputs[i].checkValidity()) {
      inputs[i].reportValidity();
      valid = false;
    }
  }
  return valid;
});
</script>
