{% extends "base.html" %}
{% block title %}Configure Deployment{% endblock %}
{% block content %}

<div class="container">

    {% include 'flashed_messages.html' %}	

    <br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="font-weight-bold text-primary">
            {% if 'metadata' in template and 'display_name' in template['metadata'] and template['metadata']['display_name'] %}
            {{template['metadata']['display_name']}}
            {% else %}
            Template: {{selectedTemplate}}
            {% endif %}
            {% if child_templates %}
             + 
            {% for name, child_template in child_templates.items() %}
                {%- if 'metadata' in child_template and 'name' in child_template['metadata'] and child_template['metadata']['name'] -%}
                {{ child_template['metadata']['name'] }}
                {%- else -%}
                {{ name }}
                {%- endif -%}
                {%- if loop.index != loop.length -%}
                ,
                {% endif -%}
            {% endfor %}
            {% endif %}
            </h4>
        </div>

        <div class="card-body">
            <div class="alert alert-info">
                <strong>Description:</strong> {{template['description']}}
                {% if 'metadata' in template and 'web' in template['metadata'] and template['metadata']['web'] %}
                (<a taget="_blank" href="{{template['metadata']['web']}}">{{template['metadata']['web']}}</a>)
                {% endif %}
            </div>

            <form id="depSubmit" action="{{ url_for('createdep', template=selectedTemplate) }}" method="post" onsubmit="return onSubmit();">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {% if child_templates %}
                <input type="hidden" name="extra_opts.childs" value="{{ ','.join(child_templates.keys()) }}"/>
                {% endif %}
                <div class="form-group">
                    <label for="additional_description">Infrastructure Name</label>
                    <input type="text" class="form-control" id="infra_name" name="infra_name" placeholder="description" value="{{ infra_name }}" maxlength="60" required>
                </div>
            {% if template['enable_config_form'] is defined and template['enable_config_form'] is sameas true %}
                {% include 'config_form.html' %}
            {% else %}
                {% include 'default_form.html' %}
            {% endif %}
            <input type="hidden" id="payloadInput" name="action" value="" />
            <button type="submit" class="btn btn-primary submitBtn" disabled><span class="fas fa-share mr-2"></span>Submit</button>
            <button id="cancelBtn" type=button class="btn btn-small btn-secondary" onclick="location.href='{{ url_for('home') }}'">
                <span class="fas fa-ban mr-2"></span>Cancel</button>
            <button id="calculateBtn" type="button" class="btn btn-primary costBtn" onclick="setActionValue('cost'); calculateCost();" disabled>Calculate cost</button>
            </form>
        </div>
    </div>

</div>

<!--
<style>
#manschedConf {
  display: none;
}
</style>
-->

<script>
function setActionValue(action) {
        document.getElementsByName('action')[0].value = action;
    }

    document.getElementById("depSubmit").addEventListener("submit", function (event) {
        var clickedButton = event.submitter;

        if (clickedButton.classList.contains('costBtn')) {
            setActionValue('cost');
        } else if (clickedButton.classList.contains('submitBtn')) {
            setActionValue('submit');
        }

        return true;
    });

function onSubmit() {
    if (document.activeElement.classList.contains('submitBtn')) {
        {% if g.analytics_tag %}
            gtag('event', 'submit', {'event_category' : '{{selectedTemplate}},{{ ",".join(child_templates.keys()) }}', 'event_label' : 'Submit'});
        {% endif %}
        {% if g.motomo_info and "url" in g.motomo_info and g.motomo_info["url"] %}
            _paq.push(['trackEvent', 'Infrastructure', 'Deploy', '{{selectedTemplate}},{{ ",".join(child_templates.keys()) }}']);
        {% endif %}
    }
    
    return true;
}
$(document).ready(function() {
    $('.js-example-basic-single').select2({
      width: '100%' // https://github.com/select2/select2/issues/4220
    });
});
</script>

<script>
$(document).ready(function () {
    $("#depSubmit").submit(function () {
        if ($(document.activeElement).attr("id") === "submitBtn") {
            //disable button on click
            $(".submitBtn").attr("disabled", true);
            $(".previewBtn").attr("disabled", true);
            // add spinner to button
            $(".submitBtn").html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...` );
            //disable cancel too
            $("#cancelBtn").attr("disabled", true);
            $("#cancelBtn").attr("onclick", "#");
        }

        return true;
    });
});
$(document).ready(function () {
  $("input[name='extra_opts.schedtype']").click(function() {
    if ($("#mansched").is(":checked")){
       $('#manschedConf').show();
    }
    else {
	$('#manschedConf').hide();
    }
  });
});

$(document).ready(function () {
  $("input[name='extra_opts.providerTimeoutSet']").click(function() {
    if ($("#providerTimeoutSet").is(":checked")){
       $('#providerTimeout').prop("disabled",false);
       $('#providerTimeout').prop("value", 5);
    }
    else {
        $('#providerTimeout').prop("disabled",true);
        $('#providerTimeout').prop("value", "");
    }
  });
});
</script>
{% endblock %}