<footer class="footer bg-dark">
  <div class="container-fluid">
    <div class="row">
	    <div class="col-md-3 col-6 mt-2">© 2020-2023 <a href="https://www.grycap.upv.es/" target="_blank">GRyCAP</a></div>
	<div class="col-md-6 mt-1 d-none d-sm-block">
	  <p class="text-center">
		 <a href="https://www.indigo-datacloud.eu/" target="_blank"><img src="{{ url_for('static', filename='images/indigo_logo.png') }}"/></a>
		 <a href="https://deep-hybrid-datacloud.eu/" target="_blank"><img src="{{ url_for('static', filename='images/logo_deep.png') }}"/></a>
		 <a href="https://www.eosc-hub.eu/" target="_blank"><img src="{{ url_for('static', filename='images/eosc-hub_logo.png') }}"/></a>
		 <a href="https://www.eosc-synergy.eu/" target="_blank"><img src="{{ url_for('static', filename='images/eosc-synergy_logo.png') }}"/></a>
		 <a href="https://ai-sprint-project.eu/" target="_blank"><img src="{{ url_for('static', filename='images/ai-sprint_logo.png') }}"/></a>
		 <a href="https://www.egi.eu/projects/egi-ace/" target="_blank"><img src="{{ url_for('static', filename='images/logo-egi-ace.png') }}"/></a>
		 <a href="https://www.intertwin.eu/" target="_blank"><img src="{{ url_for('static', filename='images/intertwin_logo.png') }}"/></a>
		 <a href="https://dt-geo.eu/" target="_blank"><img src="{{ url_for('static', filename='images/dt-geo_logo.png') }}"/></a>
		 <a href="https://ai4eosc.eu/" target="_blank"><img src="{{ url_for('static', filename='images/ai4eosc_logo.png') }}"/></a>
		</p>
	</div>
	<div class="col-md-2 col-4 mt-2 ms-auto me-1 text-end" style="min-width:160px;">
		<a href="https://github.com/grycap/" target="_blank" alt="Github" title="Github">
                  <i class="fab fa-github ms-1" style="color:white;"></i></a>
		<a href="https://hub.docker.com/orgs/grycap" target="_blank" alt="DockerHub" title="DockerHub">
                  <i class="fab fa-docker ms-1" style="color:white;"></i></a>
		<a href="https://www.researchgate.net/lab/GRyCAP-Ignacio-Blanquer" target="_blank" alt="ResearchGate" title="ResearchGate">
                  <i class="fab fa-researchgate ms-1" style="color:white;"></i></a>
		<a href="https://imdocs.readthedocs.io" target="_blank" alt="Documentation" title="Documentation">
                  <i class="fa fa-book ms-1" style="color:white;"></i></a>
		<a href="{{ url_for('static', filename='terms.html') }}" target="_blank" alt="Terms of Service" title="Terms of Service">
			<i class="fa fa-file-contract ms-1" style="color:white;"></i></a>
		  <a href="{{ url_for('static', filename='privacy.html') }}" target="_blank" alt="Privacy Notice" title="Privacy Notice">
			<i class="fa fa-user-secret ms-1" style="color:white;"></i></a>
	</div>    
    </div>
  </div>	  
</footer>


<style>
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  height: 40px;  /* Set the fixed height of the footer */
  line-height: 20px;
  color: white;	     
  opacity: 0.80;	   
}
.footer img {
 height: 30px;
 margin-right: 20px;
}
</style>

