{% set home = True %}
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<style>
hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
</style>

<div class = "jumbotron jumbotron-fluid">
  <div class="container">
    {% include 'flashed_messages.html' %}
    <div class="row p-5 ">
     <div class="col-lg-8">
     <h1 class="display-4">Infrastructure Manager Dashboard.</p>
     <p>
        {% if oidc_image %}
        <a href="{{ url_for("oidc.login") }}">
        <img src="{{ oidc_image }}" height="55px">
        </a>
        {% else %}
        <a class="btn btn-primary btn-lg" role="button" href="{{ url_for("oidc.login") }}">Login with {{oidc_name}} <i class="fas fa-sign-in-alt"></i></a>
        {% endif %}
     </p>
     </div>
     <div class="col-lg-4">
	    <img src="static/images/im-logo.png" width="350px">
     </div>
  </div>
</div>

<section id="about" class="p-4 pt-5 bg-dark">
    <div class="container text-light">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
            <h2 class="section-heading text-center">
                Some of the available topologies
            </h2>
            </div>
            <div class="col-lg-3"></div>
        </div>


        <div class="card-deck">
        <div class="card-group px-5 mx-5">
            <div class="card p-4 text-center bg-light-grey border-0 m-1 rounded" style="border-radius: 1rem !important;">
                <a href="https://kubernetes.io/" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='images/kubernetes.png') }}" alt="Kubernetes"></a>
            </div>
            <div class="card p-4 text-center bg-light-grey border-0 m-1 rounded" style="border-radius: 1rem !important;">
                <a href="https://oscar.grycap.net/" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='images/oscar.png') }}" alt="OSCAR"></a>
            </div>
            <div class="card p-4 text-center bg-light-grey border-0 m-1 rounded" style="border-radius: 1rem !important;">
                <a href="https://slurm.schedmd.com/" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='images/slurm.png') }}" alt="SLURM"></a>
            </div>
          </div>
    
          <div class="card-group px-5 mx-5">
            <div class="card p-4 text-center bg-light-grey border-0 m-1 rounded" style="border-radius: 1rem !important;">
                <a href="https://galaxyproject.org/" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='images/galaxy.png') }}" alt="Galaxy"></a>
            </div>
            <div class="card p-4 text-center bg-light-grey border-0 m-1 rounded" style="border-radius: 1rem !important;">
                <a href="https://www.docker.com/" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='images/docker.png') }}" alt="Docker"></a>
            </div>
            <div class="card p-4 text-center bg-light-grey border-0 m-1 rounded" style="border-radius: 1rem !important;">
                <a href="https://jupyter.org/hub" target="_blank"><img class="img-fluid" src="{{ url_for('static', filename='images/jupyterhub.png') }}" alt="JupyterHub"></a>
            </div>
          </div>
        </div>

          <br />

        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
            <h5 class="text-center text-light">
                <br/>
                But we have many more!
                <br/>
                If you need a new topology please contact us
                (<a href="mailto:products@grycap.upv.es?subject=[IM Dashboard]" target="_self"><i class="text-secondary fa fa-envelope"></i></a>)
            </h5>
            </div>
            <div class="col-lg-3"></div>
        </div>

</section>


       <!-- About Section -->

       <section id="about" class="py-4 my-5">
        <div class="container">
            <h2 class="section-heading text-center mb-4 font-weight-bold">About</h2>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                <h5 style="text-align: justify;">
                    The IM Dashboard is designed to enable non advanced users to launch complex virtual infrastructures on top of
                    a wide range of cloud providers (<a href="https://aws.amazon.com/" target="_blank">AWS</a>, <a href="https://cloud.google.com/" target="_blank">
                    Google Cloud</a>, <a href="https://azure.microsoft.com/" target="_blank">Microsoft Azure</a>, <a href="https://www.egi.eu/services/cloud-compute/" target="_blank">EGI Cloud Computing</a>,
                    <a href="https://opennebula.io/" target="_blank">OpenNebula</a>, <a href="https://www.openstack.org/" target="_blank">OpenStack</a>, and more ...).
                    Only with a few clicks the user can deploy the set of available topologies expressed through templates written
                    in <a href="http://docs.oasis-open.org/tosca/TOSCA-Simple-Profile-YAML/v1.0/csprd02/TOSCA-Simple-Profile-YAML-v1.0-csprd02.html" target="_blank">
                    TOSCA (Simple Profile in YAML version 1.0)</a>.
                </h5>
                </div>
                <div class="col-lg-4">
                    <h5 style="text-align: justify;">
                    Then the IM service orchestrates the whole process: deployment of
                    cloud resources, configuration, software installation, monitoring and update of the virtual infrastructures.
                    If you want to know how to use it see <a href="https://youtu.be/vmtzGOZxiUg" target="_blank">this video</a>. More
                    information about IM at <a href="https://www.grycap.upv.es/im" target="_blank">IM Webpage</a>
                    </h5>
                </div>
            </div>

        </div>
    </section>

{% endblock %}

