{% extends "base.html" %}
{% block title %}Infrastructure List{% endblock %}
{% block content %}

<script>
  function getSpanFromState(state) {
    if (state == "configured") {
      return "<span class='btn btn-success btn-sm'>";
    } else if (state == "stopped" || state == "off") {
      return "<span class='btn btn-warning btn-sm text-white'>";
    } else if (state == "failed" || state == "unconfigured" || state == "unknown" || state == "error" || state == "timeout") {
      return  "<span class='btn btn-danger btn-sm'>";
    } else {
      return "<span class='btn btn-warning btn-sm text-white'><span class='spinner-grow spinner-grow-sm'></span>";
    }
  }

  function setInfrState(infid, data) {
      // Set state
      var state = getSpanFromState(data["state"]) ;
      state += '<strong>' + data["state"] + '&nbsp;</strong>';
      state += '<div style="display: none;" id="' + infid + '_state_spinner" class="spinner-border spinner-border-sm"></div>';
      state += '</span>';
      $('#' + infid + '_state').html(state);

      // Set VMs
      var vms = '';
      $.each( data["vm_states"], function( vmId, vmState ) {
        var tooltip = getSpanFromState(vmState) + vmState + '</span>';
        vms += '<a class="btn btn-outline-secondary btn-sm" role="button" href="{{ url_for('showvminfo') }}?infId=' + infid + '&vmId=' + vmId + '" data-toggle="tooltip" data-placement="top" data-html="true" title="' + tooltip + '">';
        vms += '<span class="fas fa-server mr-2"></span>' + vmId + '</a>';
      });
      $('#' + infid + '_vms').html(vms);
      $('[data-toggle="tooltip"]').tooltip();
      if (data["state"] == "stopped") {
        $('#stop_' + infid + '_a').hide()
        $('#start_' + infid + '_a').show()
      } else {
        $('#stop_' + infid + '_a').show()
        $('#start_' + infid + '_a').hide()
      }
      if (data["state"] == "configured") {
        $('#main_button_' + infid).attr("href","#");
        $('#main_button_' + infid).attr("onclick","$('#outputs_" + infid + "').modal('show');");
        $('#main_button_' + infid).html('<span class="fas fa-file-export mr-2"></span>Outputs')
        $('#main_button_' + infid).removeClass("btn-primary")
        $('#main_button_' + infid).addClass("btn-success")
        $('#toggle_button_' + infid).removeClass("btn-primary")
        $('#toggle_button_' + infid).addClass("btn-success")
        $('#log_' + infid + '_a').show()
        $('#outputs_' + infid + '_a').hide()
      } else {
        $('#main_button_' + infid).attr("href","log/" + infid);
        $('#main_button_' + infid).removeAttr("onclick");
        $('#main_button_' + infid).html('<span class="fas fa-file-alt mr-2"></span>Log')
        $('#main_button_' + infid).removeClass("btn-success")
        $('#main_button_' + infid).addClass("btn-primary")
        $('#toggle_button_' + infid).removeClass("btn-success")
        $('#toggle_button_' + infid).addClass("btn-primary")
        $('#outputs_' + infid + '_a').show()
        $('#log_' + infid + '_a').hide()
      }
  }

  function loadInfrState(infid, state_str="{}") {
    var state = JSON.parse(state_str);
  
    if (!$.isEmptyObject(state)) {
      setInfrState(infid, state);
    }
    $('#' + infid + '_state_spinner').show()
    $.getJSON("{{url_for('infrastructure_state')}}?infid=" + infid, function( data ) {
        $('#' + infid + '_state_spinner').hide()
        setInfrState(infid, data);
        if (data["state"] == "pending" || data["state"] == "running") {
          setTimeout(function(){loadInfrState(infid);},30000);
        } else if (data["state"] == "error") {
          setTimeout(function(){loadInfrState(infid);},5000);
        } else if (data["state"] == "timeout") {
          setTimeout(function(){loadInfrState(infid);},5000);
        } else if (data["state"] == "deleting") {
          setTimeout(function(){location.reload();},30000);
        }
      });
  }

  function showForceMessage(check) {
    if (check.checked) {
      alert("The infrastructure will be deleted even if sonme resources are not correctly deleted. Only check this if you know what you are doing!");
    }
  }

  function showOverwriteMessage(check) {
    if (check.checked) {
      alert("The infrastructure will be transfered to the new user. You will loose the control of it!");
    }
  }
</script>
<div class="container-fluid">
{% include 'flashed_messages.html' %}
  <br>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <div class="row">
            <div class="col-md-6">
              <!-- Title -->
              <h4 class="font-weight-bold text-primary">My Infrastructures</h4>
            </div>
            <div class="col-md-6 text-right">
              <!-- Button -->
              <button type=button class='btn btn-outline-secondary' onclick='location.href="{{ url_for('showinfrastructures') }}"'><span class='fas fa-sync mr-2'></span>Refresh</button>
              <button type=button class='btn btn-primary' onclick='location.href="{{ url_for('home') }}"'><span class='fas fa-plus mr-2'></span>New deployment</button>
            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-body">

            <div class="table-responsive">
              <br>
            <table class="table table-striped table-hover" id="tableUserDeployments" width="100%" cellspacing="0" style="padding-bottom: 20px;">
            <!--Table head-->
              <thead>
                <tr>
                  <th style="width: 10%" scope="col">Name</th>
                  <th style="width: 25%" scope="col">Infrastructure uuid</th>
                  <th style="width: 5%" scope="col">Cloud Type</th>
                  <th style="width: 20%" scope="col">Cloud Info</th>
                  <th style="width: 10%" scope="col">Status</th>
                  <th style="width: 17%" scope="col">VMs</th>
                  <th style="width: 13%" scope="col">Actions</th>
                </tr>
              </thead>
              <!--Table head-->
              <!--Table body-->
              <tbody>
                {% for infId, infInfo in infrastructures.items() %}
                <tr>
                    <td scope="row">
                      <a id="desc_{{infId}}_a" href="#" onclick="$('#edit_dest_{{infId}}').modal('show');">
                      {% if infInfo["name"] != "" %}
                        {{infInfo["name"]}}
                      {% else %}
                        N/A
                      {% endif %}
                      </a>
                    </td>
                    <td>
                      {{infId}}
                    </td>
                    <td>
                      {% if "cloud_type" in infInfo and infInfo["cloud_type"] %}
                      <img height="35" src="{{ url_for('static', filename='images/' + infInfo['cloud_type'] + 'Row.png') }}"/>
                      {% endif %}
                    </td>
                    <td>
                      {% if "site" in infInfo %}
                      {{infInfo["site"]}}
                      {% endif %}
                    </td>
                    <td>
                      <div id="{{infId}}_state">
                       Loading <div style="display: none;" id="{{infId}}_state_spinner" class="spinner-border spinner-border-sm"></div>
                      </div>
                    </td>
                    <td>
                      <div id="{{infId}}_vms">
                       Loading <span class="spinner-border spinner-border-sm"></span>
                      </div>
                    </td>

                    <td>
                      <div class="btn-group">
                        <!-- DELETE -->
                        <a id="main_button_{{infId}}" type="button" class="text-white btn btn-primary btn-sm" href="{{ url_for('inflog', infid=infId) }}">
                          <span class="fas fa-file-alt mr-2"></span>Log
                        </a>
                        <button id="toggle_button_{{infId}}" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                          <a id="addresources_{{infId}}_a" class="dropdown-item" href="{{ url_for('addresourcesform', infid=infId) }}"><span class="fas fa-plus mr-2 grey-text"></span>Add nodes</a>
                          <a id="template_{{infId}}_a" class="dropdown-item" href="{{ url_for('template', infid=infId) }}"><span class="fas fa-search mr-2 grey-text"></span>Show template</a>
                          <a id="log_{{infId}}_a" class="dropdown-item" style="display: none;" href="{{ url_for('inflog', infid=infId) }}"><span class="fas fa-file-alt mr-2 grey-text"></span>Log</a>
                          <a id="outputs_{{infId}}_a" class="dropdown-item" href="#" onclick="$('#outputs_{{infId}}').modal('show');"><span class="fas fa-file-export mr-2 grey-text"></span>Outputs</a>
                          <a id="stop_{{infId}}_a" class="dropdown-item" href="#" onclick="$('#stop_confirm_{{infId}}').modal('show');"><span class="fas fa-pause mr-2 grey-text"></span>Stop</a>
                          <a id="start_{{infId}}_a" class="dropdown-item" href="#" onclick="$('#start_confirm_{{infId}}').modal('show');"><span class="fas fa-play mr-2 grey-text"></span>Start</a>
                          <a id="delete_{{infId}}_a" class="dropdown-item" href="#" onclick="$('#delete_confirm_{{infId}}').modal('show');"><span class="fas fa-trash-alt mr-2 grey-text"></span>Delete</a>
                          <a id="delete_recreate_{{infId}}_a" class="dropdown-item" href="#" onclick="$('#delete_recreate_confirm_{{infId}}').modal('show');"><span class="fas fa-redo mr-2 grey-text"></span>Delete & Recreate</a>
                          <a id="reconfigure_{{infId}}_a" class="dropdown-item" href="#" onclick="$('#reconfigure_confirm_{{infId}}').modal('show');"><span class="fas fa-recycle mr-2 grey-text"></span>Reconfigure</a>
                          <a id="change_auth_{{infId}}_a" class="dropdown-item" href="#" onclick="$('#change_auth_{{infId}}').modal('show');"><span class="fas fa-users mr-2 grey-text"></span>Change Owner</a>
                      </div>
                    </td>
                </tr>
                <script>
                  loadInfrState('{{infId}}', '{{infInfo["state"] | tojson | safe}}');
                </script>

                <!-- Modal DELETE RECREATE -->
                <!-- Put modal here to avoid problem with table collapse -->
                <div class="modal fade" id="delete_recreate_confirm_{{infId}}" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="delete_recreate_confirm_label_{{infId}}">Confirm Infrastructure deletion</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        Do you really want to DELETE & Recreate the Infrastructure "{{infInfo["name"]}}" with ID {{infId}}?
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-primary cancelBtn" role="button" data-dismiss="modal">Cancel</a>
                        <form action="{{ url_for('manage_inf', infid=infId, op='delete-recreate') }}" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="submit" class="btn btn-danger deleteRecreateBtn" role="button">Delete-Recreate</button>
                          <input type="checkbox" name="force" value="1" onclick="showForceMessage(this);"> Force
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal DELETE -->
                <!-- Put modal here to avoid problem with table collapse -->
                <div class="modal fade" id="delete_confirm_{{infId}}" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="delete_confirm_label_{{infId}}">Confirm Infrastructure deletion</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        Do you really want to DELETE the Infrastructure "{{infInfo["name"]}}" with ID {{infId}}?
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-primary cancelBtn" role="button" data-dismiss="modal">Cancel</a>
                        <form action="{{ url_for('manage_inf', infid=infId, op='delete') }}" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="submit" class="btn btn-danger deleteBtn" role="button">Delete</button>
                          <input type="checkbox" name="force" value="1" onclick="showForceMessage(this);"> Force
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal Reconfigure -->
                <!-- Put modal here to avoid problem with table collapse -->
                <div class="modal fade" id="reconfigure_confirm_{{infId}}" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="reconfigure_confirm_label_{{infId}}">Confirm Infrastructure reconfiguration</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        Do you really want to reconfigure the Infrastructure "{{infInfo["name"]}}" with ID {{infId}}?
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-primary reconfCancelBtn" role="button" data-dismiss="modal">Cancel</a>
                        <form action="{{ url_for('manage_inf', infid=infId, op='reconfigure') }}" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="submit" class="btn btn-success reconfigureBtn" role="button">Reconfigure</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal Stop -->
                <div class="modal fade" id="stop_confirm_{{infId}}" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="stop_confirm_label_{{infId}}">Confirm Infrastructure stop</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        Do you really want to stop the Infrastructure "{{infInfo["name"]}}" with ID {{infId}}?
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-primary stopCancelBtn" role="button" data-dismiss="modal">Cancel</a>
                        <form action="{{ url_for('manage_inf', infid=infId, op='stop') }}" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="submit" class="btn btn-warning StopBtn" role="button">Stop</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal Start -->
                <div class="modal fade" id="start_confirm_{{infId}}" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="start_confirm_label_{{infId}}">Confirm Infrastructure start</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        Do you really want to start the Infrastructure "{{infInfo["name"]}}"  with ID: {{infId}}?
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-primary startCancelBtn" role="button" data-dismiss="modal">Cancel</a>
                        <form action="{{ url_for('manage_inf', infid=infId, op='start') }}" method="post">
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="submit" class="btn btn-success StartBtn" role="button">Start</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal show outputs -->
                <div class="modal fade" id="outputs_{{infId}}">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="outputs_label_{{infId}}">Outputs</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                      </div>
                      <div class="modal-footer">
                        <a class="text-white btn btn-primary outputsCancelBtn" role="button" data-dismiss="modal">Close</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal Edit Inf Desc -->
                <div class="modal fade" id="edit_dest_{{infId}}" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="edit_dest_label_{{infId}}">Edit Infrastructure Name</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <form action="{{ url_for('manage_inf', infid=infId, op='descr') }}" method="post">
                          Name: <input type="text" name="description" value="{{ infInfo['name'] }}"/>
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-primary updateCancelBtn" role="button" data-dismiss="modal">Cancel</a>
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="submit" class="btn btn-success UpdateBtn" role="button">Update</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal Change user inf. -->
                <div class="modal fade" id="change_auth_{{infId}}" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="change_auth_label_{{infId}}">Change/Add Owner</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <form action="{{ url_for('manage_inf', infid=infId, op='change_user') }}" method="post">
                          <div class="container-fluid">
                            <div class="form-group">
                            <div class="row">
                              <div class="col-md-2">
                                <label for="token">Access Token</label>
                              </div>
                              <div class="col-md-10">
                                <textarea name="token" rows="2" style="min-width: 100%"></textarea>
                              </div>
                            </div>
                            </div>
                          </div>
                      <div class="modal-footer">
                        <a class="btn btn-primary cancelChangeUserBtn" role="button" data-dismiss="modal">Cancel</a>
                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          <button type="submit" class="btn btn-success ChangeUserBtn" role="button">Add</button>
                          <input type="checkbox" name="overwrite" value="1" onclick="showOverwriteMessage(this);"> Overwrite
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <script>
                  $(document).ready(function () {
                    $('#outputs_{{infId}}').on('hidden.bs.modal', function () {
                      var modal = $(this)
                      modal.find('.modal-body').empty()
                    });
                  });

                  $(document).ready(function () {
                    $('#outputs_{{infId}}').on('show.bs.modal', function (event) {
                      var modal = $(this)
                      modal.find('.modal-body').html('Loading...').load("{{ url_for('infoutputs', infid=infId) }}");
                    });
                  });
                </script>
                {% endfor %}
              </tbody>
              <!--Table body-->
            </table>
            <br>
            </div>
        </div>
    </div>
</div>

<style>
.modal-header {
  background-color: #3374FF;
  margin: 2px;
  color: white;
  padding:9px 15px;

}

.nav-tabs .nav-link:not(.active) {
    border-color: transparent !important;
}

.modal-footer {
    border-top: 0 none;
    padding-top: 0;
    padding-bottom: 0.3rem;
    padding-right: 0.3rem;
}

.close {
    color: #fff;
    //opacity: 1;
}
</style>



<script>

$(document).ready(function () {
    $(".deleteRecreateBtn").click(function () {
        // add spinner to button
        $(this).parent().find(".cancelBtn").addClass("disabled", true);
        $(this).addClass("disabled", true);
        $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Deleting...` );
    });
});

$(document).ready(function () {
    $(".deleteBtn").click(function () {
        // add spinner to button
        $(this).parent().find(".cancelBtn").addClass("disabled", true);
        $(this).addClass("disabled", true);
        $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Deleting...` );
    });
});

$(document).ready(function () {
  $(".reconfigureBtn").click(function () {
      // add spinner to button
      $(this).parent().find(".reconfCancelBtn").addClass("disabled", true);
      $(this).addClass("disabled", true);
      $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Reconfiguring...` );
  });
});

$(document).ready(function () {
  $(".StopBtn").click(function () {
      // add spinner to button
      $(this).parent().find(".stopCancelBtn").addClass("disabled", true);
      $(this).addClass("disabled", true);
      $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Stopping...` );
  });
});

$(document).ready(function () {
  $(".StartBtn").click(function () {
      // add spinner to button
      $(this).parent().find(".startCancelBtn").addClass("disabled", true);
      $(this).addClass("disabled", true);
      $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Starting...` );
  });
});

$(document).ready(function () {
  $(".UpdateBtn").click(function () {
      // add spinner to button
      $(this).parent().find(".updateCancelBtn").addClass("disabled", true);
      $(this).addClass("disabled", true);
      $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Updating...` );
  });
});

$(document).ready(function () {
  $(".ChangeUserBtn").click(function () {
      // add spinner to button
      $(this).parent().find(".cancelChangeUserBtn").addClass("disabled", true);
      $(this).addClass("disabled", true);
      $(this).html( `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Adding...` );
  });
});
</script>

<script>
    $('#tableUserDeployments').dataTable( {
        "responsive": true,
        "order": [],
        "columnDefs": [ {
            "targets"  : 'no-sort',
            "orderable": false,
         }],
        "order": [[ 2, "desc" ]]
    });

    {% if reload %}
    setTimeout(function(){loadInfrState("{{ reload }}");},5000);
    {% endif %}
</script>

{% endblock %}

