<div class="mt-1">
    <div id="{{key}}-container"></div>
    <button type="button" class="ml-2 btn btn-sm btn-outline-info" id="add-new-item-{{key}}" class="add-new" data-tag-name="{{key}}"><i class='fas fa-plus mr-2'></i>Add</button>
    <input id="id-{{key}}" type="hidden" data-output-type="json" name="{{key}}" value=""/>
</div>

<script lang="javascript">

let num__{{key}} = 1;

function addItem_{{key}}(object=null, value='') {
  var tagname = document.getElementById('add-new-item-{{key}}').getAttribute('data-tag-name');

  {% if value.entry_schema.type in utils.PORT_SPECT_TYPES %}
    var parts = value.split('-');
    var range = parts[0];
    var cidr = "";
    if (parts.length > 1) {
      range = parts[1]
      cidr = parts[0]
    }

    let input_template = `
            <input type="text" class="mr-1 col-5 form-control" name="${tagname}_list_value_${num__{{key}}}_range" class="form-control" pattern="([0-9]+:{0,1}[0-9]+)" required value="${range}" placeholder="Port Range">
            <input type="text" class="mr-1 col-6 form-control" name="${tagname}_list_value_${num__{{key}}}_cidr" class="form-control" pattern="(([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))){0,1}" value="${cidr}" placeholder="CIDR">`;
  {% else %}
    {% if value.entry_schema.type == "integer" %}
    var pattern = "[0-9]+";
    {% elif value.entry_schema.type == "float" %}
    var pattern = "[0-9]+\.{0,1}[0-9]+";
    {% elif value.entry_schema.type == "boolean" %}
    var pattern = "true|false";
    {% else %}
    var pattern = ".*";
    {% endif %}
    let input_template = `
          <div class="form-group">
            <input type="text" class="form-control" name="${tagname}_list_value_${num__{{key}}}" class="form-control" required pattern="${pattern}" value="${value}">
          </div>`;
  {% endif %}

  let template = `
        <div class="form-group mt-1 mx-2 row" id="${tagname}-${num__{{key}}}">
        ${input_template}
          <button type=button class='btn btn-sm btn-outline-danger' href="" onclick="javascript:removeItem('${tagname}'+ '-' + ${num__{{key}}} + '' ); return false;"><i class='far fa-trash-alt m-1'></i></button>
        </div>`;

  let container = document.getElementById(tagname + '-container');
  let div = document.createElement('div');
  div.innerHTML = template;
  container.appendChild(div);

  num__{{key}}++;
}


document.getElementById('add-new-item-{{key}}').onclick = addItem_{{key}};

function removeItem(elementId) {
    var element = document.getElementById(elementId);
    element.parentNode.removeChild(element);
}

{% if value.entry_schema.type in utils.PORT_SPECT_TYPES %}
  {% if input_value %}
    {% set ports = utils.formatPortSpec(input_value) %}
    {% for k, v in ports.items() %}
    addItem_{{key}}(null, value='{{v}}')
    {% endfor %}
  {% endif %}
{% endif %}

</script>