          <div class="table-responsive" id="outputs-table">
          <table id="tableServices" class="table table-bordered table-striped" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Field Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
              {% for field, value in outputs | dictsort: %}
                <tr>
                  <td>{{ field }}</td>
                  <td>
                    {% if value %}
                      {% if 'token' in value and 'user' in value and 'token_type' in value and value['token_type'] == 'private_key' %}

                      <p><strong>Username</strong>: {{ value['user'] }}</p>
                      <div class="d-none" id="text-val">{{ value['token'] | replace("\\n", "\n") }}</div>
                      <button class="btn btn-primary btn-sm" id="downloadBtn"><i class="fa fa-download"></i> Download</button>
                      <button class="btn btn-success btn-sm" id="copyBtn"><i class="fa fa-copy"></i> Copy to clipboard</button>

                      {% else %}
                        {% if value is string %}
                          {% if value|length > 1024 %}
                            <div class="d-none" id="text-val-{{ field }}">{{ value | replace("\\n", "\n") }}</div>
                            <button class="btn btn-primary btn-sm" id="downloadBtn{{ field }}"><i class="fa fa-download"></i> Download</button>
                            <script>
                              document.getElementById("downloadBtn{{ field }}").addEventListener("click", function(){
                                  var text = document.getElementById("text-val-{{ field }}").innerHTML;
                                  var filename = "{{ field }}.txt";
                                  download(filename, text);
                              }, false);
                            </script>
                          {% else %}
                            {% if value.startswith("{") or value.startswith("[") %}
                            <pre>{{ value | tojson_pretty() | safe | replace("\\n", "\n") }}</pre>
                            {% else %}
                            {{ value }}
                            {% endif %}
                          {% endif %}
                        {% else %}
                          <pre>{{ value | tojson_pretty() | safe }}</pre>
                        {% endif %}
                      {% endif %}
                    {% else %}
                    Empty
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        </div>




<script>

function download(filename, text) {
  var element = document.createElement('a');
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  element.setAttribute('download', filename);

  element.style.display = 'none';
  document.body.appendChild(element);

  element.click();

  document.body.removeChild(element);
}

document.getElementById("downloadBtn").addEventListener("click", function(){
    var text = document.getElementById("text-val").innerHTML;
    var filename = "key.pem";
    download(filename, text);
}, false);


function copyToClipBoard(text) {
  // Create a new textarea element and give it id='temp_element'
  var textarea = document.createElement('textarea');
  textarea.id = 'temp_element';
  textarea.style.height = 0;
  var table = document.getElementById("outputs-table");
  table.appendChild(textarea);
  textarea.value = text;
  var selector = document.querySelector('#temp_element');
  selector.focus();
  selector.select();
  document.execCommand('copy');
  // Remove the textarea
  table.removeChild(textarea)
}

document.getElementById("copyBtn").addEventListener("click", function(){
  var text = document.getElementById("text-val").innerHTML;
  copyToClipBoard(text);
}, false);

</script>
